.quizContainer {
  position: relative;
}

.quizContainer > h1 {
  margin-bottom: 50px;
}
.question {
  margin-bottom: 60px;
  font-size: 1.2rem;
}

.question p {
  margin-bottom: 20px;
}

.question span {
  font-weight: bold;
}

.optionsContainer {
  display: flex;
  grid-gap: 20px;
}

.optionsContainer input {
  margin-right: 10px;
  cursor: pointer;
}

.optionsContainer label {
  cursor: pointer;
}

.quizContainer > .buttonContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.buttonContainer > button {
  padding: 10px 30px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #0a0a0a;
  cursor: pointer;
  transition: 0.7s;
}

.buttonContainer > button:hover {
  transform: translateY(-10px);
}

.buttonContainer > p {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}
