nav {
  display: flex;
  padding: 20px;
  align-items: center;
}

.logo {
  flex-grow: 1;
  cursor: pointer;
}

.linksContainer {
  display: flex;
  list-style: none;
  align-items: center;
}

.linksContainer > li {
  margin-right: 30px;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 10px;
}

.linksContainer > li:last-of-type {
  margin-right: 0px;
}

.activeLink {
  border-bottom: 1px solid black;
}
